.App {
  text-align: center;
}

/* .form-helper {
  position: relative;
}

span.chevron {
  position: absolute;
  bottom: 0;
} */
input {
  display: block;
  margin: 36px auto;
  width: 229px;
  height: 43px;
  /* text-transform: uppercase; */
  border-radius: 5px;
  border: 1px solid #C4C4C4;
  padding-left: 18px;
}