.category-box-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-between; */
  /* width: 90%; */
  margin: 0 auto;
}

.category-box {
  position: relative;
  width: 340px;
  height: 340px;
  margin: 45px;
  background-size: cover;
  color: white;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}

.category-title {
  position: relative;
  top: 40%;
  /* left: 10%; */
  font-size: 48px;
}

.Produce{
  background-image: url('../../assets/images/site_general/jonathan-mast-ntjpaf3o-Bw-unsplash.jpg');
  grid-column: 2 / span 1;
}

.Meat{
  background-image: url('../../assets/images/site_general/max-delsid-oBwnHsjCx9A-unsplash.jpg');
}

.Seafood{
  background-image: url('../../assets/images/site_general/david-todd-mccarty-Ih9HDG29afU-unsplash.jpg');
}

.Frozen{
  background-image: url('../../assets/images/site_general/andris-romanovskis-WaPEDF_JwWE-unsplash.jpg');
}

.Grocery{
  background-image: url('../../assets/images/site_general/yulia-khlebnikova-YRCTpi816ZA-unsplash.jpg');
}

.Refrigerated{
  background-image: url('../../assets/images/site_general/estudio-gourmet-wiprNAISUaQ-unsplash.jpg');
}