input[type="radio"]{
  display: none;
}

.star {
  cursor: pointer;
}

.rating {
  display: flex;
  flex-direction: row;
}

.rating-text-container {
  margin-left: 38px;
  text-align: end;
}

.rating-text {
  align-self: baseline;
}