button.btn {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  height: 63px;
  width: 231px;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.form {
  width: 229px;
  height: 43px;
}

button.btn.details-btn {
  width: 125px;
  height: 29px;
  font-size: 12px;
  margin-top: 8%;
  padding: 8px;
}

button.btn.product-details-btn {
  width: 200px;
  height: 40px;
}

@media screen and (max-width: 868px) {
  button.btn.details-btn {
    width: 229px;
    height: 43px;
    font-size: 14px;
    margin-top: 12%;
  }
}

@media screen and (max-width: 900px) {
  div.browse-btn {
    text-align: center;
  }
}
