.details-container {
  display: flex;
  justify-content: center;
  margin: 100px auto;
}

.details-left {
  border-right: 1px solid black;
  padding: 20px 75px 50px 10px;
}

.details-right {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 24px;
  height: 100%;
  width: 30%;
  padding-bottom: 30px;
}

.details-img {
  max-height: 480px;
  max-width: 560px;
  height: auto;
  width: auto;
  object-fit: cover;
}

.details-name {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  margin: 23px 0;
}

.rating {
  margin-bottom: 50px;
}

.brand,
.size,
.price {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  margin-bottom: 25px;
}

@media screen and (max-width: 900px) {
  .details-container {
    flex-direction: column;
    margin: 10px auto;
  }

  .details-left {
    border-bottom: 1px solid black;
    border-right: none;
    padding: 75px 0;
    margin: 0 auto;
    width: 90%;
  }

  .details-img {
    padding: 0 20px;
    max-height: 400px;
    max-width: 490px;
  }

  .details-right {
    margin: 75px auto;
    width: 55%;
  }
}

@media screen and (max-width: 756px) {
  .details-right {
    padding-left: 50px;
  }
}

@media screen and (max-width: 665px) {
  .details-right {
    padding-top: 50px;
    width: 60%;
  }

  .details-img {
    padding: 0px;
    max-width: 300px;
  }

  .details-name {
    font-size: 36px;
  }

  .brand,
  .size,
  .price {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .details-right {
    padding-left: 0px;
    width: 90%;
  }
}
