.sign-in-container {
  border: 1px solid black;
  width: 309px;
  height: auto;
  margin: 100px auto;
  padding: 40px 0;
}

.form-title {
  font-size: 48px;
  font-family: 'Playfair Display', serif;
}

.form-helper {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding-top: 30px;
}

.sign-in-form {
  margin-top: 56px;
}

